* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY E MAIN*/
body {
  font-family: inter;
}

.main-contact-form {
  background-color: rgb(240, 240, 240);
  width: fit-content;
  margin: 100px auto;
  padding: 16px 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(46, 46, 46, 1);
  -moz-box-shadow: 0px 0px 10px -2px rgba(46, 46, 46, 1);
  box-shadow: 0px 0px 10px -2px rgba(46, 46, 46, 1);
}

/* FORMULÁRIO DE CONTATO */
.contact-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.contact-form .top-fields {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 16px;
  column-gap: 16px;
}
/* CAIXA DE INPUT*/
.contact-form .input-box {
  position: relative;
  display: flex;
  height: 35px;
}

.contact-form .input-box svg {
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 18px;
  color: rgba(102, 102, 102, 0.616);
}

.contact-form .input-box input {
  padding: 8px 16px;
  padding-left: 32px;
}

.contact-form .message-input-box {
  margin-top: 16px;
  position: relative;
}
.contact-form .message-input-box textarea {
  width: 100%;
  padding: 12px;
  padding-left: 32px;
  resize: none;
}

.contact-form .message-input-box svg {
  width: 24px;
  position: absolute;
  color: rgba(102, 102, 102, 0.616);
  left: 4px;
  top: 8px;
}

.contact-form input[type="submit"] {
  align-self: center;
  margin-top: 24px;
  padding: 8px 24px;
  background-color: rgb(255, 255, 255);
  color: rgb(46, 46, 46);
  font-weight: bold;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-bottom: rgb(155, 155, 155) 3px solid;
  transition: 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
  border-bottom: rgb(58, 58, 58) 3px solid;

  transform: scale(1.03);
}

.contact-form input[type="submit"]: